#menu-flutuante-outer-wrapper {
    position: fixed;
    height: 100%;
    left: 10px;
    display: flex;
    z-index: 100;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;
}
#menu-flutuante-inner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s;
    
}
#menu-flutuante {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
    padding: 0px 10px;
    margin-bottom: 0%;
    border-radius: 10px;
    background: linear-gradient(145deg, #373737, #2e2e2e);
    z-index: 100;
    pointer-events: auto;
}
.menu-item {
    background-color: #333333;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:  6px 6px 13px #2b2b2b, -6px -6px 13px #3b3b3b;
    transition: background-color 0.3s;
}
.menu-item img {
    height: 25px;
    width: 25px;
}
/*botão de contrair/expandir*/
#menu-button {
    position: relative;
    margin-left: 10px;
    z-index: 101;
    transition: transform 0.3s;
    pointer-events: auto;
}
#menu-button img {
    height: 50px;
    width: 50px;
    opacity: 50%;
    border-radius: 10px;
    transition: 0.3s;
}

/*menu-config*/
#menu-config-wrapper {
    position: relative;
    background-color: transparent;
    width: 60px;
    height: 60px;
    left: 5px;
    top: 5px;
    border-radius: 10px;
    pointer-events: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
}
#menu-config {
    height: 25px;
    width: 25px;
    margin: 0%;
    z-index: 103;
    transition: transform 0.3s;
}


/*scroll Lock Status*/
#scrollLockStatus {
    position: relative;
    background-color: transparent;
    width: 60px;
    height: 60px;
    left: 5px;
    border-radius: 10px;
    pointer-events: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
    
}
#lockSign {
    height: 25px;
    width: 25px;
    margin: 0%;
    bottom: 5px;
    z-index: 103;
}
.lockSignNormal {
    transition: transform 0.3s ease-in-out;
    transform: translateY(0px);
}
.lockSignAlt {
    transform: translateY(-15px);
}

/*addList*/

#addList {
    position: fixed;
    background-color: var(--cor-3);
    border-radius: 16px;
    height: 50vh;
    width: 18%;
    z-index: 1001;
    top: 25vh;
    left: -50vw;
    padding: 10px;
    transition: left 0.3s ease-in-out;
}

#addList-header {
    display:inline-flex;
    align-items: center;
    justify-content: space-between;
    background-color: #373737;
    border-radius: 10px;
    width: 100%;
    height: 10%;
    padding: 0px 10px;
}

#addList-title {
    font-size: 35px;
    color: var(--cor-texto-1);
    margin: 0%;
    padding: 0%;
}

#addList-close {
    height: 25px;
    width: 25px;
}

#addList-close-wrapper {
    height: 40px;
    width: 40px;
    background-color: var(--cor-6);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 50%;
    transition: opacity 0.3s ease-in-out;
}

#addList-close-wrapper:hover {
    opacity: 100%;
}

#addList-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 90%;
    height: 90%;
    padding: 10px;
    padding-left: 0%;
}

.addListBTN {
    background-color: var(--cor-6);
    border-radius: 10px;
    height: 10%;
    width: 100%;
    opacity: 70%;
    margin: 5px 0px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    transition: margin 0.3s ease-out, opacity 0.3s ease-in-out;
}

.addListBTN:hover {
    margin-left: 10%;
    opacity: 1;
}

#addListBTN-title {
    color: var(--cor-texto-1);
    margin: 0%;
    padding: 0%;
    font-size: 20px;
    font-weight: 400;

}