#menu-flutuante-outer-wrapper {
    position: fixed;
    height: 100%;
    left: 10px;
    display: flex;
    z-index: 100;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;
}
#menu-flutuante-inner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s;
    
}
#menu-flutuante {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
    padding: 0px 10px;
    margin-bottom: 0%;
    border-radius: 10px;
    background: linear-gradient(145deg, #373737, #2e2e2e);
    z-index: 100;
    pointer-events: auto;
}
.menu-item {
    background-color: #333333;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:  6px 6px 13px #2b2b2b, -6px -6px 13px #3b3b3b;
    transition: background-color 0.3s;
}
.menu-item img {
    height: 25px;
    width: 25px;
}
/*botão de contrair/expandir*/
#menu-button {
    position: relative;
    margin-left: 10px;
    z-index: 101;
    transition: transform 0.3s;
    pointer-events: auto;
}
#menu-button img {
    height: 50px;
    width: 50px;
    opacity: 50%;
    border-radius: 10px;
    transition: 0.3s;
}
/*menu-config*/
#menu-config-wrapper {
    position: relative;
    background-color: transparent;
    width: 60px;
    height: 60px;
    left: 5px;
    top: 5px;
    border-radius: 10px;
    pointer-events: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
}
#menu-config {
    height: 25px;
    width: 25px;
    margin: 0%;
    z-index: 103;
    transition: transform 0.3s;
}
