@import url(./configPage.css);
@import url(./loginPage.css);
@import url(./menuLateral.css);
@import url(./components/grafico.css);
@import url(./components/infoDigital.css);
@import url(./components/pomodoro.css);
@import url(./components/Post-its.css);



/*fontes*/
@font-face {
    font-family: 'montserrat';
    src: url(/codigo/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

/*código geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex !important;
    justify-content: center;
    background-color: var(--cor-1) !important;
    overflow: hidden;
}

li {
    list-style-type: none;
}


/*variáveis cores*/
:root{
    /*modo escuro*/
    --cor-1: #1E1E1E; /*cor de fundo primária*/
    --cor-2:#292929;/*cor de relevo primária*/
    --cor-3:#333333 ;/*cor de fundo secundária*/
    --cor-4:#333333; /*cor de relevo secundária*/
    /*modo claro*/
    /*cores de destaque*/
    --cor-ds-1:#F26419;
    --cor-ds-2:#F5D02C;
    --cor-ds-3:#0E79B2;
    --cor-ds-4:#3D0B37;
    --cor-ds-5:#84C4B2;
    --cor-ds-6:#DBD3D8;
    --cor-texto-1:aliceblue;/* color-texto*/
    --cor-texto-2:black;/* color-texto-2*/
}



/*------principal------*/

#principal {
    /*min-height: 100vh;
    min-width: 100%;*/
    width: 100%;

}

.gridster {
    position: relative;
    margin: 0 auto;
    width: 80%; 
    z-index: 99;
    pointer-events: none;
}


#pomodoro {
    text-align: center;

}

/*Módulos*/

.módulo {
    background-color: var(--cor-2);
    border-radius: 10px;
    margin: 0%;
    overflow: hidden;
    /*borda branca*/
    border: 1px solid var(--cor-3);
    pointer-events: auto;
}

.módulo header {
    position: relative;
    color: var(--cor-texto-1);
    background-color: var(--cor-4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 0% 1.5%;
    height: 50px;
    
}
#module-handle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 35px;
    height: 35px;
    background-color: #161616;
    transition: background-color 0.3s ease-in-out;
}
#module-handle:hover {
    background-color: var(--cor-ds-3);
}
.módulo header img {
    width: 25px;
    height: 25px;
    pointer-events: none;
}
#module-content {
    background-color: #84C4B2;
    height: 100%;
}

/*post-its*/

.post-it {
    background-color: var(--cor-ds-1);
    border-radius: 5px;
    pointer-events: auto;
}
.post-it header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 0% 5%;
    height: 50px;
}
.post-it header img {
    width: 25px;
    height: 25px;
    pointer-events: none;
}
.post-it-handle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 35px;
    height: 35px;
    background-color: #E77131 !important;
}















