@import url(./menuLateral.css);
@import url(./components/grafico.css);
@import url(./components/infoDigital.css);
@import url(./components/pomodoro.css);
@import url(./components/Post-its.css);


/*código*/

body {
    padding: 0;
    margin: 0px;
    display: flex !important;
    justify-content: center;
    background-color: #1E1E1E !important;
    overflow: hidden;
}

li {
    list-style-type: none;
}




/*principal*/

#principal {
    /*min-height: 100vh;
    min-width: 100%;*/
    width: 100%;
    
}

.gridster {
    position: relative;
    margin: 0 auto;
    width: 80%;
    
}

#pomodoro {
    text-align: center;
    
}

.módulo header {
    background-color: blue;
}
.módulo {
    background-color: aqua;
    border-radius: 10px;
    margin: 0%;
    overflow: hidden;
}
