.infoD-container{
    background-color: #dddfff;
    width: 100%;
    height: 100%;
}

.inf-conjunto-container{
    background: linear-gradient(#333, #555);
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 6px;
    border: 1px solid black;
    padding: 6px;
}

.inf-conjunto-container:hover > :not(:hover){
    opacity: 0.7;
    transform: scale(0.97);
}

.informante {
    height: 90px;
    background-color: #eee;
    cursor: pointer;
    transition: .35s;
    border: 2px solid #222;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.infoD-tips-containder{
    background-color: coral;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-top: 5px solid black;
    position: absolute;
    bottom: 0;
}

.tip{
    background-color:azure;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.informante-titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
}

#sono{
    background-image: url(/codigo/assets/img/infoDigital.img/neuronio1.ti.jpg);
    background-size: cover;
}

#foco{
    background-image: url(/codigo/assets/img/infoDigital.img/neuronio2.ti.jpg);
    background-size: cover;
}

#agua{
    background-image: url(/codigo/assets/img/infoDigital.img/agua.ti.jpg);
    background-size: cover;
}

#vicios{
    background-image: url(/codigo/assets/img/infoDigital.img/dopamine.ti.jpg);
    background-size: cover;
}

#saude-mental{
    background-image: url(/codigo/assets/img/infoDigital.img/cerebro-iluminado.ti.jpg);
    background-size: cover;
}

#exercicios-fisicos{
    background-image: url(/codigo/assets/img/infoDigital.img/muscle.ti.jpg);
    background-size: cover;
}

.informante-titulo > #titulo10{
    color: #fff;
    opacity: 1; 
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Adiciona a borda preta */
    /* text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000; */
}

#titulo10{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
}

.text_da_tip{
    text-align: center;
    width: 100%;
    background: linear-gradient(#777, #555);
    border-radius: 7.5px;
    font-family:Arial, Helvetica, sans-serif;
    color: #fff;
    padding: 4px;
    /* text-transform: uppercase; */
    text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000; 
}


.quadrado{
    padding-top: 7px;
    padding-right: 50px;
    display: flex;
    background-color: aliceblue;
    width: 533px;
    height: 297px;
}

.quadrado li{
    color: black;
    margin-top: 9px;
}

.divx{
    padding: 0;
    position: absolute;
    top: 300px;
    right: 10px;
    cursor: pointer;
}

.x{
    text-align: center;
    width: 20px;
    background-color: #000;
    color: white;
    border-radius: 2px;
    margin-right: 2px;
    margin-top: 2px;
}

/*
.divLista{
    background-color: #000;
    width: 520px;
    height: 285px;
    padding-top: 15px;
    padding-right: 15px;
    
}

.divLista li{
    margin-bottom: 10px;
}
*/


