.infoD-container{
    background-color: #dddfff;
    width: 100%;
    height: 100%;
}

.inf-conjunto-container{
    width: 100%;
    height: 68%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 6px;
    border: 1px solid black;
    padding: 6px;
}

.inf-conjunto-container:hover > :not(:hover){
    opacity: .7;
    transform: scale(0.9);
}

.informante {
    background-color: #eee;
    cursor: pointer;
    transition: .35s;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.infoD-tips-containder{
    background-color: coral;
    width: 100%;
    height: 32%;
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-bottom: 40px;
}

.tip{
    background-color:azure;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}










.informante-titulo{
    text-align: center;
    background-color: antiquewhite;
    width: 100%;
}
#sono{
    background-image: url(/codigo/assets/img/infoDigital.img/neuronio1.ti.jpg);
    background-size: cover;
}

#foco{
    background-image: url(/codigo/assets/img/infoDigital.img/neuronio2.ti.jpg);
    background-size: cover;
}

#agua{
    background-image: url(/codigo/assets/img/infoDigital.img/agua.ti.jpg);
    background-size: cover;
}

#vicios{
    background-image: url(/codigo/assets/img/infoDigital.img/dopamine.ti.jpg);
    background-size: cover;
}

#saude-mental{
    background-image: url(/codigo/assets/img/infoDigital.img/cerebro-iluminado.ti.jpg);
    background-size: cover;
}

#exercicios-fisicos{
    background-image: url(/codigo/assets/img/infoDigital.img/muscle.ti.jpg);
    background-size: cover;
}